#header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #FBFBFB;
}


input {
    position: relative;
    text-align: center;
    width: 25rem;
    height: 2.2rem;
    background-image: url('../Bilder/searchicon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.7rem;
    font-family: sans-serif;
    top: -30px;
    
}

#logo {
    flex-wrap: wrap;
    
}

#ul .nav-link {
    display: inline-block;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #403947;
}

#shopping {
    height: 2rem;
}

ul {
    display: inline-flex;
}

a {
    text-decoration: none;
}

#search {
    
}

#oppskrifter {
    height: 2rem;
}

#varer {
    height: 2rem;
}

#lagkonto {
    background-color: #F6A41E;
    border-radius: 0.3rem;
}

#hamburger-menu-icon {
    display:none;
    width: 2.1rem;
    border: 0.1rem solid #F6A41E;
    border-radius: 0.5rem;
    color: #F6A41E;

}

.hamburger-line {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    background-color: #F6A41E;
    margin: 0.3rem;
}


@media (max-width: 669px) {
    
    #ul {
        display: none;
    }
    /* DISPLAYS LOGO*/
    input {
        top: 0;
        width: 15rem;
        margin: auto;
    }
    
    #logo {
        height: 2.5rem;
    }
    
    #hamburger-menu-icon {
        float: inherit;
        display: inline-block;
    }
    
    #search {
        margin: auto;
    }
    
    #header {
        margin: auto;
        justify-content: center; 
        align-items: center; 
        background-color: #FBFBFB;
        width: 15rem;
}
}

@media (max-width: 1225px) {
    li {
        display: none;
    }
    
    #shopping, #oppskrifter, #varer{
        height: 4rem;
    }
}

@media (max-width: 962px) {
    li {
        display: none;
    }
    
    #shopping, #oppskrifter, #varer{
        height: 2rem;
    }
}

@media (max-width: 950px) {
    li {
        display: none;
    }
    
    #shopping, #oppskrifter, #varer{
        height: 2rem;
    }
    
    input {
        width: 13rem
    }
}

