#header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #FBFBFB;
}


input {
    position: relative;
    text-align: center;
    width: 25rem;
    height: 2.2rem;
    background-image: url('../Bilder/searchicon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.7rem;
    font-family: sans-serif;
    top: -30px;
    
}

#logo {
    height: 100%;
    flex-wrap: wrap;
    
}

#ul .nav-link {
    display: inline-block;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #403947;
}

#shopping {
    height: 3rem;
}

ul {
    display: inline-flex;
}

a {
    text-decoration: none;
}

#search {
    
}