#header {
    width: 100%;
    height: 5rem;
    background-color: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

input {
    text-align: center;
    width: 25rem;
    height: 2.2rem;
    background-image: url('../Bilder/searchicon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.5rem;
}

#logo {
}

nav {
    background-color: red;
}

li {
    display: inline-block;
    font-family: fantasy; }