/*----- Containere Start ------*/

#container
{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#content
{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}

/*----- Containere End ------*/

/*----- Card Start -----*/

#card
{
    width: 100%;
    position: absolute;
}

#display
{
    left: 0;
    position: absolute;
}

#select
{
    position: absolute;
    top: 10px;
    right: 0;
    width: 200px;
}

#intervall, #leveringstid, #leveringsdato
{
    width: 135px;
}

#dropdown-order
{
    position: relative;
    left: 0;
    top: 5px;
}

#dropdown-content
{
    position: absolute;
    top: 25;
    left: 0;
    height: 100px;
    width: 90px;
    display: none;
    z-index: 1;
    background-color: orange;
}

#dropdown-btn
{
    position: relative;
}

#update-list-btn
{
    
}

#buy-list-btn
{
    position: absolute;
    top: 5px;
    right: 0;
}

/*----- Card End -----*/